<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847846439688-ckj73pgqj5ev8cp87h1k24vsa45u78kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847846439688-ckj73pgqj5ev8cp87h1k24vsa45u78kh</string>
	<key>API_KEY</key>
	<string>AIzaSyCHljh9tpOAJdXUqzhUR4vdNoVZckUci-o</string>
	<key>GCM_SENDER_ID</key>
	<string>847846439688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azzzure.azzureexpress</string>
	<key>PROJECT_ID</key>
	<string>azzure-express</string>
	<key>STORAGE_BUCKET</key>
	<string>azzure-express.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847846439688:ios:bc64be7d71459268970abd</string>
</dict>
</plist>